@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;;
}


.form-container{
    height: 475px;
    width: 808px;
    margin: 75px auto;
    padding: 29px;
    /* border: 1px solid rgb(255, 255, 255); */
    border-radius: 5px;
    text-align: center;
    background-color: #D9D9D9;
}


input{
    display: flex;
    margin: 0 auto;
    padding: 16px;
    margin: 50px;
    width: 284px;
    border-radius: 3px;
    border: none;
}

button {
    display: flex;
    margin: 0 auto;
    width: 95px;
    padding: 9px;
    justify-content: space-evenly;
    border-radius: 3px;
    border: none;
    
}



.form-login{
    display: flex;
    margin: 200px auto;
}


.form-container h2{
    display: flex;
}

h2{
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
}


form {
    width: 815px;
    height: 311px;
}

body{
    background-color: #193E6075;
}


header{
    width: 100%;
    height: 61px;
    background-color: #193E60;
}

a{
    color: white;
    text-decoration: none;
}